<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Parcel Assignment</title>
  </head>
  <body>
    <p>Hi <%= firstName %> <%= lastName %>,</p>

    <p>You have been assigned a new parcel to deliver.</p>

    <ul>
      <li><strong>Tracking ID:</strong> <%= trackingId %></li>
      <li><strong>Pickup Address:</strong> <%= pickupAddress %></li>
      <li><strong>Delivery Address:</strong> <%= deliveryAddress %></li>
    </ul>

    <p>Please check your dashboard for more details.</p>

    <p>Regards,<br>Send-It Team</p>
  </body>
</html>
